/* debug-styles.css */

/* This file contains styles that outline the main containers for debugging purposes.
   Add the class "debug" to the <body> tag to enable this view. */

body.debug .header-container {
  outline: 2px solid red !important;
}

body.debug .subheader-container {
  outline: 2px solid green !important;
  mask-image: none !important;
}

body.debug #repo-list-container {
  outline: 2px solid purple !important;
}

body.debug .repo-item {
  outline: 2px solid yellow !important;
}
