/* base-styles.css */
@import url('keyframe-styles.css');
@import url('color-pallet.css');

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.no-top-margin {
    margin-top: 0;
}                                                                                                                                                                                                     

.header-container {
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    overflow: hidden;
    padding: 50px 0;
    position: sticky;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 20;
    mask-image: linear-gradient(to bottom, transparent, white 10%, black 45%, white 55%, transparent);
     -webkit-mask-image: linear-gradient(to bottom, transparent, white 5%, white 30%, black 45%, white 40%, white 79%, transparent);
}

.header-container::before {
    animation: pulse 50s infinite, pulse-2 50s infinite;
    background: radial-gradient(circle, var(--ripple-glow-4) 1%, var(--ripple-glow-5) 35%, transparent);
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    width: 100%;
}

.header-title {
    animation: rippleEffect 3s infinite;
    margin: 0;
    position: relative;

}

.subheader-container {
    animation: fadeIn 1.5s ease forwards;
    animation-delay: 0.5s;
    /*background: var(--repo-background);*/
    background: transparent;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    box-shadow: 0 4px 8px var(--repo-hover-box-shadow);
    height: auto;
    /*mask-image: linear-gradient(to bottom, transparent, white 20%, black 45%, white 55%, transparent);*/
    /*-webkit-mask-image: linear-gradient(to bottom, transparent, white 5%, white 30%, black 45%, white 40%, white 79%, transparent);*/
    overflow: hidden; /* Hide overflow */
    padding: 10px 0;
    text-align: center;
    top: 0;
    z-index: 9;
    transform: translateY(0);
    transition: transform 0.3s ease-out, height 0.3s ease-out;;
}

.subheader-container::after {
    background: var(--repo-background);
    border: solid 5px var(--blue-5);
    mask-image: linear-gradient(to bottom, transparent, white 20%, black 45%, white 55%, transparent);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 8;
}

.subheader {
    margin: -20px 0 10px 0;
    position: relative;
    z-index: 10;
    top: -5px;
}

.subheader-container p {
    margin: 5px 0;
}

.list-container {
    transform: translateY(-10px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
    padding: 1% 2%;
    width: 100%;
    z-index: 11;
}

.repo-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.repo-item {
    background-color: var(--repo-item-background);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--repo-box-shadow);
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: transform 0.2s, box-shadow 0.2s, border 0.1s, scale 0.2s;
    width: 100%;
    border: 2px solid transparent;
    overflow: hidden;
}

.repo-item:focus-within,
.repo-item:hover {
    border: 2px solid var(--blue-5);
    box-shadow: 0 4px 12px var(--repo-hover-box-shadow);
    transform: translateY(-5px);
}

.list-item-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-grow: 1;
    justify-content: space-between;
}

.repo-name {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.repo-description {
    flex-grow: 1;
    margin-bottom: 15px;
    text-indent: 0;
}

.repo-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: auto;
}

.repo-links-container a {
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 5px 0;
}

.repo-image-container {
    width: 100%;
    height: 200px;
    background-color: var(--repo-details-background);
    border-bottom: 2px solid var(--blue-5);
}

.repo-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
